<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Individual</title>
    <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
      <header>
        <nav>
          <h4>Robot Employment Navigator</h4>
          <ul>
              <li><a href="/">Listing of all Robots</a></li>
              <li><a href="/working">Employed Robots</a></li>
          </ul>
        </nav>
      </header>
{{#notWorking}}
      <div id="single">
        <container1>
          <div><img src="{{avatar}}"></div>
        </container1>

        <container2>
          <div><span id="name2" class="name2">{{name}}</span></div>
          <div><span class="city">{{address.city}}{{^address.city}}<span class = "missing" ></span>{{/address.city}}
            {{address.country}} | {{job}}{{^job}}<span class = "missing" >Available for hire</span>{{/job}}{{company}}</span></div>
          <div><span class="email">{{email}} | {{phone}}</span></div>
          <div><span></span></div>
        </container2>


        <container4>
            <div><span></span></div>
            <div><span></span></div>
            <div><span></span></div>
          <table>
            <tr>
              <td>
                {{#university}}
                    <div><span class = "schoool">Education</span></div>
              </td>
            <td>
                    <div><span>{{university}}<span></div>

                {{/university}}
                    {{^university}}<span class = "missing" ></span>
                  {{/university}}
            </td>

            <tr>
              <td>
                <div><span>Skills</span></div>
              </td>

              <td class = "skills">
                {{#skills}}
                  {{.}}<br />
                {{/skills}}
              </td>
             </tr>
        </table>
        </container4>
      </div>
      {{/notWorking}}
    </body>
    </html>
