<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <title>Individual</title>
    <link rel="stylesheet" href="/css/main.css" />
    </head>
    <body>
      <container>
        <div id="single">
          <div><img src="{{avatar}}" /></div>
          <div><span id="name2" class="name2">{{name}}</span></div>
          <div><span class="city">{{address.city}},
            {{address.country}} | {{job}}, {{company}}</span></div>
          <div><span class="email">{{email}} | {{phone}}</span></div>
          <div><span </span></div>
          <div><span class="Education"><b><h3>Education</h1></b> {{university}}</span></div>
          <div><span class="Skills"><b>Skills</b> {{skills}}</span></div>
        </div>

        </container>


    </body>
    </html>
